{{mav-nav-horizontal class="hides" component=components.mavNavHorizontal components=components}}

<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">

                {{outlet}}

            </div>
        </div>
    </div>
</div>

